.about-header{
  // position: absolute;
  width: 57.7rem;
  height: 3.6rem;
  margin: 0 auto;
  margin-top: 150px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 3rem;

  color: #333333;
  .slim{
    font-weight: lighter;
  }
}