.signup{
  background-image: linear-gradient(
    to left,
    rgba(black, 0.6),
    rgba(black, 0.6)
  ),
   url(../assets/img/architecture-automobile-cars-63294.jpg);
  background-size: cover;
  min-height: 90vh;
  display: grid;
  grid-template-columns: auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  top: 500px;
  background-color: rgba(black, 1);
  .img-signup{
    width: 100%;
  }

  .intro-text{
    font-family: Work Sans;
    color: white;
    font-size: 5rem;
    text-align: left;
    padding: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    width: 70%;
  }

  .underline-bottom{
    border-bottom: 2px solid $color-primary-light;
  }

  .intro-sub{
    font-family: Work Sans;
    color: white;
    font-size: 2rem;
    text-align: left;
    padding: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    width: 75%;
  }

  .btn-more{
      width: 12rem;
      height: 5.1rem;
      margin-left: 4rem;
      padding: .5rem;
    
      background: $color-white;
      border-radius: .5rem;
      border: 0px;
      color: $color-black;
      font-size: 1.5rem;
  }
  .signup-logo{
    height: 100px;
    margin: 5rem;
  }
  .signup-form{
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 20rem;

    .top-links{
      text-transform: uppercase;
      color: $color-white;
      display: block;
      .link-signup{
        float: left;
      }
      .link-login{
        float: right;
      }
    }

    .bottom-link{
      position: fixed;
      text-transform: uppercase;
      bottom: 0;
      left: 50%;
      right: 0;
      height: 6rem;
      background-color: rgba($color-grey-dark-3, 0.5);
      color: white;
      display: grid;
      grid-template-columns: 9fr 1fr;
      .text{
        margin-top: 1.5rem;
        font-size: 2rem;
      }
      .next-icon{
        background-color: $color-primary;
        color: $color-black;
        font-size: 3rem;
      }
    }
    
    .signup-header{      
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      line-height: 71px;
      font-size: 36px;

      color: #565264;
    }
    .signup-subheader{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      font-size: 18px;

      color: #9B9B9B;
    }
    .signup-link{
      color: $color-primary;
      &:hover{
        color: $color-primary-light;
        transform: scale(3.5)
      }
    }
  }
  i.down-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 50%;
    margin-left: 1rem;
  }
  i.right-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 50%;
    height: 1rem;
  }
}