.about-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.about-cards {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  padding: 1rem;
}
}
