.about-section{
  // position: absolute;
  font-family: 'Avenir';
  background: #FAFAFA;

  .about-garages{
    .summary-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10rem;
      padding: 36.8rem;
      padding-top: 3rem;
      padding-bottom: 10rem;
    }

    .shadowed-card{
      box-shadow: 0 1.3rem 1.3rem rgba($color-black, .25);
      padding: 2rem;
      border: 0px;
    }
    .blue{
      background-color: #3C56E6;
      color: white;
    }

    .garage-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3rem;
      padding: 3rem;
      .card-header{
        font-size: 1.5rem;
        font-weight: bold;
      }
      .card-detail{
        font-size: 1.4rem;
        color: #8D8686;
      }
      .shadowed-card{
        box-shadow: 0 1.3rem 1.3rem rgba($color-black, .25);
        padding: 2rem;
        border: 0px;
      }
      .blue{
        background-color: #3C56E6;
        .card-detail{
          color: white;
        }
      }
    }
    .garage-breakdown{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .breakdown-header{
      font-size: 3rem;
      color: #161719;
    }
    .breakdown{
      &-requirements{
        padding-top: 5.4rem;
        background-color: #F7F8FC;
        padding-left: 36rem;
        padding-bottom: 3rem;
      }
      &-reasons{
        padding-top: 5.4rem;
        background-color: #FBF8E8;
        padding-left: 14rem;
        padding-bottom: 3rem;
      }
      &-details{
        font-size: 1.5rem;
        line-height: 4rem;
        color: #161719;
        font-weight: bold;
      }
    }
  }

  .about-customers{
    background-color: #F8F4D9;

    .shadowed-card{
      box-shadow: 0 1.3rem 1.3rem rgba($color-black, .25);
      padding: 2rem;
      border: 0px;
    }
    .yellow{
      background-color: #FFCF00;
    }
    
    .customer-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3rem;
      padding: 3rem;
      .card-header{
        font-size: 1.5rem;
        font-weight: bold;
      }
      .card-detail{
        font-size: 1.4rem;
        color: #8D8686;
      }
    }

    .core-values{
      padding: 23.2rem;
      padding-top: 10rem;
      .values{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20.3rem;
      }
    }

  }
}


  