.about-section{
  // position: absolute;
  font-family: 'Avenir';
  background: #FAFAFA;

  .about-customers{
    background-color: #F8F4D9;

    .shadowed-card{
      box-shadow: 0 1.3rem 1.3rem rgba($color-black, .25);
      padding: 2rem;
      .yellow{
        background-color: #FFCF00;
      }
    }
    
    .customer-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3rem;
      padding: 3rem;
      .card-header{
        font-size: 1.5rem;
        font-weight: bold;
      }
      .card-detail{
        font-size: 1.2rem;
        color: #8D8686;
      }
    }

    .core-values{
      padding: 23.2rem;
      padding-top: 10rem;
      .values{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20.3rem;
      }
    }

  }

  .about-services{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    padding: 1rem;

    .services{

      color: #000000;
      &-1{
        position: relative;
        margin-right: auto;
        width: 33rem;
        height: 10rem;
      }
      &-2{
        position: relative;
        margin: 0 auto;
        width: 33rem;
        height: 10rem;
      }
      &-3{
        position: relative;
        margin-left: auto;
        width: 33rem;
        height: 10rem;
      }
    }
  }
  .service-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;
    font-size: 2.5rem;
    text-align: center;

    color: #828282;
  }
  .service-label{
    width: 32.5rem;
    height: 10rem;

    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    line-height: 10rem;
    font-size: 2.4rem;
    text-align: center;

    color: #000000;
  }
}


  