.header-home {
  position: relative; 
  width: 100%;
  height: 822.87px;
  // left: 25px;
  top: 104px;
  display: block;

  background: rgba(0, 0, 0, 0.21);
  background-image: linear-gradient(
        to left top,
        rgba(black, 0.2),
        rgba(black, 0.2)),
      url(../assets/img/71af7228808379.5aa0ce53a7ee1.jpg);
  background-size: cover;
  // padding: 5rem;
  margin: 0 auto;
  
  .header-content{
    .header-slogan{
      .slogan-top{
        position: absolute;
        width: 143px;
        height: 43px;
        left: 134px;
        top: 253px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 36px;

        color: #FFFFFF;
      }
    .slogan-middle{
      position: absolute;
      width: 669px;
      height: 150px;
      left: 134px;
      top: 316px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 64px;

      color: #FFFFFF;
    }
    .slogan-bottom{
      position: absolute;
      width: 406px;
      height: 43px;
      left: 134px;
      top: 486px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 36px;

      color: #FFFFFF;
    }
    }
  }
}
