.header-home {
  position: relative; 
  width: 100%;
  height: 82.3rem;
  top: -.1rem;
  display: grid;
  grid-template-columns: 1fr;

  background: rgba(0, 0, 0, 0.21);
  background-image: linear-gradient(
        to left top,
        rgba(black, 0.7),
        rgba(black, 0.7)),
      url(../assets/img/automobile-car-car-repair.jpg);
  background-size: cover;
  // padding: 5rem;
  margin: 0 auto;

  .header-nav{
    height: 9rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 10rem;
  }

  .home-logo {
    height: 9rem;
    width: 27rem;
    margin-left: 10rem;
  }

  .intro-text{
    font-family: Work Sans;
    color: white;
    font-size: 5rem;
    text-align: left;
    padding: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    width: 70%;
    font-weight: bold;
  }

  .underline-bottom{
    border-bottom: .5rem solid $color-white;
  }

  .intro{
    margin-left: 5rem;
  }

  .intro-sub{
    font-family: Work Sans;
    color: white;
    font-size: 2rem;
    text-align: left;
    padding: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    width: 75%;
  }

  .home-links{ 
    text-align: right;  
    margin-right: 3rem;
    bottom: 0;
    .home-link{
      &--regular{
        margin: 3rem;
        font-size: 1.8rem;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: $color-white;
      }
      &--btn{
        &:link,
      &:visited {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5rem 3rem;
        border-radius: 10rem;

        width: 13rem;
        height: 4rem;
        font-size: 1.8rem;
        background-color: $color-white;
        color: $color-black;
      }
        &-inverted{
          margin: 3rem;
          background: transparent;
          font-size: 1.8rem;
          padding: 0.5rem 3rem;
          border-radius: 10rem;
          border: 1px solid $color-white;
          color: $color-white;
        }
      }
    }
  }
  
  .header-content{
    .header-slogan{
      .slogan-top{
        position: absolute;
        width: 14.3rem;
        height: 4.3rem;
        left: 13.4rem;
        top: 10.0rem;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 3.6rem;

        color: #FFFFFF;
      }
    .slogan-middle{
      position: absolute;
      width: 66.9rem;
      height: 15.0rem;
      left: 13.4rem;
      top: 16.3rem;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 6.4rem;

      color: #FFFFFF;
    }
    .slogan-bottom{
      position: absolute;
      width: 40.6rem;
      height: 4.3rem;
      left: 13.4rem;
      top: 33.3rem;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 3.6rem;

      color: #FFFFFF;
    }
    }
  }
}
