.home-nav{

  .logo-box{
    position: absolute;
    width: 19.8rem;
    height: 6.6rem;
    left: 5.4rem;
    top: 2.2rem;
    background: url(../assets/logos/Logo-Black-&-Yellow.png)
  }

  .login-btn{
    position: absolute;
    width: 8.9rem;
    height: 4rem;
    left: 130rem;
    top: 3.5rem;
  }

  .signup-btn{
    position: absolute;
    width: 9.8rem;
    height: 4rem;
    left: 114rem;
    top: 3.5rem;
  }
};
