.home-nav{

  .logo-box{
    position: absolute;
    width: 198px;
    height: 66px;
    left: 54px;
    top: 22px;
    background: url(../assets/logos/Logo-Black-&-Yellow.png)
  }

  .login-btn{
    position: absolute;
    width: 89px;
    height: 40px;
    left: 1297px;
    top: 35px;
  }

  .signup-btn{
    position: absolute;
    width: 98px;
    height: 40px;
    left: 1137px;
    top: 35px;
  }
};
