.header-home {
  position: relative; 
  width: 100%;
  height: 82.3rem;
  top: -.1rem;
  display: block;

  background: rgba(0, 0, 0, 0.21);
  background-image: linear-gradient(
        to left top,
        rgba(black, 0.2),
        rgba(black, 0.4)),
      url(../assets/img/71af7228808379.5aa0ce53a7ee1.jpg);
  background-size: cover;
  // padding: 5rem;
  margin: 0 auto;
  
  .header-content{
    .header-slogan{
      .slogan-top{
        position: absolute;
        width: 14.3rem;
        height: 4.3rem;
        left: 13.4rem;
        top: 10.0rem;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 3.6rem;

        color: #FFFFFF;
      }
    .slogan-middle{
      position: absolute;
      width: 66.9rem;
      height: 15.0rem;
      left: 13.4rem;
      top: 16.3rem;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 6.4rem;

      color: #FFFFFF;
    }
    .slogan-bottom{
      position: absolute;
      width: 40.6rem;
      height: 4.3rem;
      left: 13.4rem;
      top: 33.3rem;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 3.6rem;

      color: #FFFFFF;
    }
    }
  }
}
